<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cricketapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.gallery.post"></activity>
        <activity android:name=".ui.matchHistory.Scoreboard" />
        <activity android:name=".ui.create_match.ScoreBoard" />
        <activity android:name=".ui.create_match.MatchActivity" />
        <activity android:name=".ui.create_match.Select" />
        <activity android:name=".ui.create_match.Teams" />
        <activity android:name=".ui.create_match.MakeTeam" />
        <activity android:name=".chatWithFriend" />
        <activity android:name=".profile" />
        <activity android:name=".register" />
        <activity
            android:name=".chatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>